.whatsapp-button {
  position: fixed;
  bottom: 60px;
  right: 60px;
  background-color: #f6be00;
  color: #fff;
  border: none;
  border-radius: 100%;
  padding: 10px;
  font-size: 60px;
  cursor: pointer;
  transition: 0.5s;
}

.whatsapp-button:hover {
  background-color: rgb(0, 0, 0);
  color: #f6be00;
}
