.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../../public/services.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 450px 50px;
  width: 100%;
  height: 100vh;
  background-color: #000;
}

.services h2 {
  font-size: 45px;
  color: #fff;
  text-shadow: 2px 2px 10px #464646;
  letter-spacing: 10px;
}

.services-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.services-container-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: #f6be00;
  margin: 30px;
  margin-top: 60px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 2px rgb(29, 29, 29);
}

.services-container-card svg {
  font-size: 100px;
  margin-bottom: 20px;
  color: #fff;
}

.services-container-card h3 {
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 3px;
  font-weight: 700;
  color: #000;
}

.services-container-card p {
  text-align: center;
  margin-bottom: 30px;
  line-height: 25px;
}

.services-container-card button {
  padding: 12px 15px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: 2px 2px 10px 2px #424242;
}

.services-container-card button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1105px) {
  .services-container-card {
    margin: 0px;
    margin-top: 70px;
    width: 270px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 920px) {
  .services-container-card {
    justify-content: space-between;
  }

  .services {
    padding: 350px 0px;
  }
}

@media screen and (max-width: 840px) {
  .services {
    height: 100%;
    padding: 90px 0px;
  }

  .services h2 {
    text-align: center;
    max-width: 400px;
  }

  .services-container-card {
    width: 100%;
  }

  .services-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 350px;
  }
}

@media screen and (max-width: 500px) {
  .services {
    padding: 70px 0px;
  }

  .services h2 {
    font-size: 35px;
  }

  .services-container-card {
    max-width: auto;
    width: 90%;
    margin-top: 40px;
  }
}
