nav {
  background-color: #000 !important;
  position: fixed;
  box-shadow: 2px 2px 20px 2px #838383;
}

.logo {
  width: 70px;
  cursor: pointer;
  margin-left: 20px;
}

.nav-item {
  margin-right: 30px;
}

.nav-link {
  border-radius: 5px;
  background: #000;
  transition: background 2s ease-in-out;
  letter-spacing: 2px;
  color: #fff !important;
  text-shadow: 1px 1px 10px #a5a5a5;
}

.nav-link:hover {
  background: linear-gradient(#ca2093, #8e76ca);
}

.navbar-toggler {
  background-color: #ececec !important;
  color: #fff !important;
}

.navbar-toggler-icon {
  color: #fff !important;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: 2px solid #111 !important;
}

@media screen and (max-width: 991px) {
  .nav-item {
    margin-right: 0px;
    margin: 0px 20px;
  }

  .nav-link {
    padding: 5px !important;
  }

  .navbar-toggler {
    margin-right: 30px;
  }
}
